$white: #FFFFFF;
$very-light-gray: #D6D6D6;
$light-gray: #D4D4D4;
$gray:#C3C3C3;
$dark-gray: #979090;
$very-dark-gray: #717171;
$dark:#171717;
$header-divider: #2D2B2B;
$users-divider: #212121;

$primary: #811AC0;
$border: #E7E6E6; 
