@use "../abstracts" as *;
@use "../utilities" as *;

.users-info{
    @extend .flex;
}

.user-list{
    margin-top: 25px;
    max-width: 1330px;
    width: 100%;
    margin-bottom: 60px;
    li{
        padding-block: 30px;
        @extend .flex;
        p, a{
            text-align: center;
            flex-basis: 190px;
        }
        &:not(:last-of-type, :first-of-type){
            border-bottom: 1px solid $users-divider;
        }
        &:first-of-type{
            padding-block: 8px;
        }
    }
    .list-header{
        background-color: $primary;
        
    }
    h3{
        margin-top: 60px;
        text-align: center;
    }
}